.sky{
    height: 600px;
    width: 100%;
    background-image: url(./sky1.jpg);
    background-size: cover;
    z-index: -1;
}

.text{
    font-size: 40px;
    text-align: center;
    
}

.text1{
    background-color: orange;
    display: inline-block;
}

.text2{
    background-color: white;
    display: inline-block;
}

.text3{
    background-color: green;
    display: inline-block;
}

.sun{
    background-image: url(./sun.jfif);
    position: absolute;
    top: 10%;
    left: 100%;
    background-color: white;
    border: 1px solid orange;
    border-color: transparent;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(236 171 57), inset 10px 10px 100px rgb(243 232 112), 0px 0px 60px 30px rgb(255 174 35), 0px 0px 120px 50px rgb(247 172 110);
    animation: sun 200s linear 0s infinite;
}

@keyframes sun {
    100% {
        transform: translateX(-1000px);
    }
}


.car {
    background-image: url(./car.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 300px;
    top: 500px;
    left: 40%;
    z-index: 10;
    display: inline-block;
    animation: car 1s linear 0s infinite;
}

@keyframes car {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0px);
    }
}

.wheel {
    position: relative;
}

.front {
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 55px;
    width: 55px;
    top: 68px;
    left: 210px;
    animation: wheel 1s linear 0s infinite;
}

@keyframes wheel{
    100% {
        transform: rotate(360deg);
    }
}

.back {
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55px;
    width: 55px;
    position: absolute;
    top: 68px;
    left: 26px;
    animation: wheel 1s linear 0s infinite;
}

@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}


.city
{
    background-image: url(./city.png);
    display: block;
    position: absolute;
    height: 200px;
    width: 500%;
    bottom: 200px;
    animation: city 20s linear 0s infinite;
}

@keyframes city {
    100%{
        transform: translateX(-2400px);
    }
}

.road{
    background-image: url(./road.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 500%;
    bottom: 4px;
    left: 5px;
    z-index: 2;
    display: inline-block;
    animation: road 20s linear 0s infinite ;
}

@keyframes road {
    100%{
        transform: translateX(-1000px);
    }
}